<h3>Agregar <small>{{ nuevo.nombre }}</small></h3>
<hr>

<form (ngSubmit)="agregar()">
    <input
        type="text"
        placeholder="Nombre"
        name="nombre"
        [(ngModel)]="nuevo.nombre"

    /> <!-- Cuando se coloca [(ngModel)] de esta manera con los parentesis es que quiero que escuchar como emitir el evento -->
    <!-- [value]="nuevo.nombre"
        (input)="cambiarNombre( $event )" -->

    <input
        type="number"
        placeholder="Poder"
        name="poder"
        [(ngModel)]="nuevo.poder"
    />

    <button type="submit">
        Agregar
    </button>

</form>
